* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-slot{
  background-color: rgba(91, 175, 239, 0.72);
  padding: 15px;
  text-align: center;
}